

.listhover:hover {
  background: #e6e6e6 !important; /* Darkened background color on hover */
}

.listhover > div {
  margin: 0px;
}

.listhover img {
  width: 100%;
}

.listhover h4,
.listhover p,
.listhover p {
  margin: 10px;
  line-height: 0px;
}
